name: Run tests

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install dependencies
        working-directory: .
        run: npm ci
      - name: Run tests
        working-directory: .
        run: npm test
      - name: Run build
        working-directory: .
        run: npm run build
