name: Run tests

on: 
  - push

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Install dependencies
        working-directory: capture-app
        run: npm ci
      - name: Run tests
        working-directory: capture-app
        run: npm test
      - name: Run build
        working-directory: capture-app
        run: npm run build
